{	
	"curlopts":{
		"url": "https://api.ambeedata.com/latest/by-lat-lng",
		"urlParams":{
			"lat":"43.560537",
			"lng":"1.404690"
		}
		"api-key": "x-api-key:b83fcfd7137ff81d96b92a34d3488506b7d3976bda58077cab133e94efd0a240"
	},
	"filesOwner":"sylvain",
	"logPath":"/home/sylvain/logs",
	"logFileName":"AIQWA.log",
	"dataPath":"/home/sylvain/datas",
	"dataFileName":"AirQualityWatch",
	"chartPath":"/home/sylvain/charts",
	"curveChartFileName":"curve.png",
	"histoChartFileName":"histo.png",
	"pieChartFileName":"pie.png",
}
